html, body, *{
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    background-color: #7ac8f0;
}
#sign{
    display: block;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    width: 80%;
    position: relative
}
#sunny{
    z-index: 1;
    position: relative;
    width: 100%;
    margin-top: -8%;
}
#back{
    background-color: aliceblue;
    position: absolute;
    top: 0%;
    height: 40vh;
    width: 100vw;
}
.posts{
    margin-top: 40px;
    font-size: 8rem;
    display: flex;
    justify-content: space-evenly;
}
.post1{
    text-align: center;
    color: #443742;
    border-radius: 25px;
    width: 30vw;
    border: 5px solid aliceblue;
    box-shadow: 5px 10px;
}
