html, body, *{
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    background-color: #7ac8f0;
}
.header2{
    text-align: center;
}
#sign{
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    height: 25%;
}
#sunny{
    z-index: 1;
    position: absolute;
    top: 15%;
    width: 100%;
}
#back{
    background-color: antiquewhite;
    z-index: 0;
    position: absolute;
    top: 0%;
    height: 25%;
}
