html, body, *{
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    font-size: 62.5%;
    overflow-x: hidden;
    cursor: crosshair;
}
body{
    background-color: #7ac8f0;
}
button{
    padding: 0;
    border: none;
    background: none;
}
h3{
    margin-top: -1vw;
}
@font-face{
    src: url(fonts/Onepiece-Regular.ttf);
    font-family: onepiece;
}
.clouds{
    z-index: -0;

}
#cloud-1{
    top: 1vw;
    position: absolute;
    width: 20%;
    right: -25%;
    animation: glide1 14s linear infinite;
    
}
@keyframes glide1 {
    100%{
        transform: translate(-120vw,0);opacity: 1;
    }
}
#cloud-2{
    position: absolute;
    right: -20%;
    width: 20%;
    top: 25vw;
    animation: glide2 16s linear infinite;
    animation-delay: 5s;
}
@keyframes glide2 {
    100%{
        transform: translate(-120vw,0);opacity: 1;
    }
}
#divider{
    margin: 2vw;
    text-align: center;
    font-size: 1vw;
    color: #3685bd;
    background-color: #7ac8f0;
    word-spacing: 2vw;
    font-family: 'IBM Plex Mono', monospace;
}
.header{
    background-color: aliceblue;
}
#sign{
    padding-bottom: 18%;
    padding-top: 18%;
    text-align: center;
    font-size: 9vw;
    font-family: onepiece;
    color: #3685bd;
    text-shadow: 5px 5px #c1e5ff;
    z-index: 3;
}
#sunny{
    z-index: 1;
    position: relative;
    width: 100%;
    margin-top: -15%;
}
#play{
    position: absolute;
    top: 37vw;
    z-index: 2;
    width: 5vw;
    left: 3%;
}

#stop{
    position: absolute;
    top: 39vw;
    z-index: 2;
    width: 4vw;
    left: 10%;
}
#play:hover{
    width: 6vw;
}
#stop:hover{
    width: 5vw;
}
.postsection{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: -2vw;
}
.postsection:hover .posts:not(:hover){
    opacity: 50%;
}
.posts{
    text-align: center;
    color: #243a46;
    border-radius: 25px;
    background-color:aliceblue;
    width: 25vw;
    border: 5px solid #3685bd;
    padding: 30px;
    margin: 2vw;
    margin-top: 5vw;
    box-shadow: 10px 10px #b1d9f8;
    font-family: 'Kalam', cursive;
    font-size: 2vw;
    height:26vw;
    overflow-y: hidden;
}
.posts:hover{
    overflow-y: visible;
    transform: scale(110%);
}

.mangapanel{
    width: 90%;
    margin-top: -90%;
}
.foodpic{
    width: 90%;
    margin-top: 10px;
}
.mangapanel:hover {
    opacity: 0%;
    transition: opacity .5s;
}

#bottomtext{
    font-size: 2vh;
    text-align: center;
    color: #343C51;
    margin-right: 10vw;
    margin-left: 10vw;
    padding: 25px;
    padding-bottom: 35px;
}
#bottomtextheader{
    font-size: 2vh;
    text-align: center;
    color: #343C51;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 2vw;
    margin-bottom: -1%;
}
.caption{
    margin-top: 1vw;
    font-size: 50%;
}
li{
    text-align: left;
}
@media only screen and (max-width: 500px) {
    .postsection{
        flex-direction: column;
    }
    .posts{
        width: 70vw;
        height:70vw;
        margin-left: 15vw;
        font-size: 3.2rem;
    }
    .posts:hover{
        transform: scale(105%);
    }
    #sign{
        font-size: 15vw;
        padding-bottom: 5%;
        padding-top: 10%;
    }
    #divider{
        margin: 1.5vw;
        margin-top: 3vw;
        font-size: .8rem;
    }
    #sunny{
        z-index: 1;
        position: relative;
        width: 100%;
        margin-top: -9%;
    }
    #cloud-2{
        opacity: 0;
    }
    #play{
        top: 30vw;
        width: 7vw;
    }
    
    #stop{
        top: 31vw;
        width: 6vw;
        left: 13vw;
    }
    .caption{
        margin-top: 3.5vw;
    }
    #bottomtextheader{
        margin-top: 5vw;
    }
}