html, body, *{
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background-color: #7ac8f0;
    font-family: 'Kalam', cursive;
}
@font-face{
    src: url(fonts/Onepiece-Regular.ttf);
    font-family: onepiece;
}
.clouds{
    z-index: -0;

}
#cloud-1{
    top: 1%;
    position: absolute;
    height: 30vh;
    right: -25%;
    animation: glide1 14s linear infinite;
    
}
@keyframes glide1 {
    100%{
        transform: translate(-120vw,0);opacity: 1;
    }
}
#cloud-2{
    position: absolute;
    right: -20%;
    height: 25vh;
    top: 45%;
    animation: glide2 16s linear infinite;
    animation-delay: 5s;
}
@keyframes glide2 {
    100%{
        transform: translate(-120vw,0);opacity: 1;
    }
}
#divider{
    margin: 60px;
    text-align: center;
    font-size: 2vh;
    color: #3685bd;
    background-color: #7ac8f0;
    word-spacing: 40px;
    font-family: 'IBM Plex Mono', monospace;
}
.header{
    background-color: aliceblue;
    position: relative;
}
#sign{
    padding-bottom: 18%;
    padding-top: 18%;
    text-align: center;
    font-size: 20vh;
    font-family: onepiece;
    color: #3685bd;
    text-shadow: 5px 5px #c1e5ff;
    z-index: 3;
}
#sunny{
    z-index: 1;
    position: relative;
    width: 100%;
    margin-top: -16%;
}
#play{
    position: absolute;
    top: 77%;
    z-index: 2;
    height: 11%;
    left: 3%;
}
#stop{
    position: absolute;
    top: 79%;
    z-index: 2;
    height: 9%;
    left: 10%;
}

.postsection{

    margin-top: 25px;
    font-size: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.posts{
    text-align: center;
    color: #243a46;
    border-radius: 25px;
    background-color:#EDF4ED ;
    width: 25vw;
    border: 5px solid #3685bd;
    padding: 30px;
    margin: 30px;
    box-shadow: 10px 10px #b1d9f8;
}
#placeholder{
    width: 90%;
    margin-top: 10px;
}
#bottomtext{
    font-size: 2vh;
    text-align: center;
    color: #343C51;
    margin-right: 20%;
    margin-left: 20%;
    padding: 25px;
    padding-bottom: 35px;
}
#bottomtextheader{
    font-size: 2vh;
    text-align: center;
    color: #343C51;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 2%;
    margin-bottom: -1%;
}
#caption{
    margin-top: 15px;
    font-size: 50%;
}